<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whether App</title>
    <link rel="stylesheet" href="/css/wether.css">
</head>

<body>

    {{!-- // {{>nav}} --}}

    <div class="container">
        <div class="box">
            <div class="frm">
                <h1>WEATHER APP</h1>
               

                <form action="">
                    <div class="input1">
                            <input type="text" placeholder="Enter Your Location" required><br>
                    </div>
                    
                    <button>Search</button>
                </form>

                <p id="loc">
                    </pid>
                </p>
                <p id="we"></p>
            </div>

            <script src="/js/app1.js"></script>
        </div>
    </div>





</body>

</html>